USE [master]
GO
/****** Object:  Database [VAP_NetCoreApp]    Script Date: 22/12/2021 02:10:33 a. m. ******/
CREATE DATABASE [VAP_NetCoreApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VAP_NetCoreApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VAP_NetCoreApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VAP_NetCoreApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VAP_NetCoreApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VAP_NetCoreApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VAP_NetCoreApp]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 22/12/2021 02:10:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Role_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 22/12/2021 02:10:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[Email] [varchar](500) NOT NULL,
	[Age] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[RecordDate] [datetimeoffset](7) NOT NULL,
	[Balance] [money] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[UserVM]    Script Date: 22/12/2021 02:10:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[UserVM] AS
SELECT U.ID, U.RoleID, R.Name AS Role, U.Email,
U.Age, U.IsActive, U.RecordDate, U.Balance
FROM [USER] AS U
INNER JOIN [Role] AS R
ON U.RoleID = R.ID

GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsActive]  DEFAULT ('True') FOR [IsActive]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_RecordDate]  DEFAULT (sysdatetimeoffset()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Balance]  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CH_User_Age] CHECK  (((0)<=[Age] AND [Age]<=(100)))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CH_User_Age]
GO
/****** Object:  StoredProcedure [dbo].[User_AddUser]    Script Date: 22/12/2021 02:10:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[User_AddUser]
@Email VARCHAR(250),
@Balance MONEY,
@Age INT,
@RoleID INT
AS
BEGIN

DECLARE @Success BIT = 0
DECLARE @Message VARCHAR(500)

IF EXISTS (SELECT * FROM [User] WHERE Email = @Email) BEGIN
SET @Message = 'El email esta siendo usado por otro usuario'
END
ELSE  BEGIN

INSERT INTO [User] (Email, Balance, RoleID, Age)
VALUES (@Email, @Balance, @RoleID, @Age)

SET @Success = 1
END

SELECT @Success AS Success, @Message AS Message

END

GO
/****** Object:  StoredProcedure [dbo].[User_DeleteUser]    Script Date: 22/12/2021 02:10:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_DeleteUser]
@Id INT
AS
BEGIN

DECLARE @Success BIT = 0
DECLARE @Message VARCHAR(500)

IF NOT EXISTS (SELECT * FROM [User]  WHERE ID = @Id) BEGIN
SET @Message = 'El usuario no existe!'
END
ELSE  BEGIN

DELETE FROM [User]
 WHERE ID = @Id

SET @Success = 1
END

SELECT @Success AS Success, @Message AS Message

END
GO
/****** Object:  StoredProcedure [dbo].[User_EditUser]    Script Date: 22/12/2021 02:10:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_EditUser]
    @Email VARCHAR(250),
    @Balance MONEY,
    @Age INT,
    @RoleID INT
AS
BEGIN
	DECLARE  @Id INT;
    DECLARE @Success BIT = 0;
    DECLARE @Message VARCHAR(500);

    IF NOT EXISTS (SELECT * FROM [User] WHERE ID = @Id)
    BEGIN
        SET @Message = 'El usuario no existe!';
    END;
    ELSE
    BEGIN

        UPDATE [User]
        SET Email = @Email,
            Balance = @Balance,
            RoleID = @RoleID,
            Age = @Age
        WHERE ID = @Id;


        SET @Success = 1;
    END;

    SELECT @Success AS Success,
           @Message AS Message;

END;
GO
USE [master]
GO
